<!-- <h1>Password Generator</h1>

<div>
    <label for="">Enter length</label>
    <input #test (input)="onChangeLength(test.value)" type="text" name="" id="">
</div>

<div>
    <label for="">Use Letters</label>
    <input (change)="onChangeUseLetters()" type="checkbox" name="" id="">
</div>

<div>
    <label for="">Use Numbers</label>
    <input (change)="onChangeUseNumbers()" type="checkbox" name="" id="">
</div>

<div>
    <label for="">Use Symbols</label>
    <input (change)="onChangeUseSymbols()" type="checkbox" name="" id="">
</div>

<div>
    <button (click)="onButtonClick()" [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))">Generate!</button>
</div>


<div>
    <label for="">Your Password</label>
    <input type="text" name="" id="" [value]="password">
</div> -->


<div class="container">
    <div class="columns is-centered">
        <div class="box column is-one-third">
            <h1 class="title has-text-centered">Password Generator</h1>

            <div class="field">
                <label>Length</label>
                <input (input)="onChangeLength($any($event.target).value)" type="text" name="" id="">
            </div>

            <div class="field">
                <div class="control">
                    <label class="checkbox">
            <input (change)="onChangeUseLetters()" type="checkbox" />
            Use Letters
          </label>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="checkbox">
            <input (change)="onChangeUseNumbers()" type="checkbox" />
            Use Numbers
          </label>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="checkbox">
            <input (change)="onChangeUseSymbols()" type="checkbox" />
            Use Symbols
          </label>
                </div>
            </div>

            <button [disabled]="
          !(length && (includeLetters || includeSymbols || includeNumbers))
        " (click)="onButtonClick()" class="button is-link is-fullwidth">
        Generate!
      </button>

            <div *ngIf="password" class="box">
                <label>Your Password</label>
                <input class="input" [value]="password" />
            </div>
        </div>
    </div>
</div>